@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
*,
*::before,
*::after {
  font-family: "Bai Jamjuree", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 1fr auto;
  background: top/contain no-repeat;
  background-image: url(./images/bg-header-desktop.png);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 8rem 1rem;
  gap: 8rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  width: 100%;
}
.container--row {
  gap: 1rem;
  justify-content: space-between;
}
.container--column {
  flex-direction: column;
  gap: 3rem;
  height: 100%;
}
.container--wrap {
  flex-wrap: wrap;
}
.container--small {
  max-width: 35ch;
}
.container--medium {
  max-width: 50rem;
}
.container--large {
  max-width: 60rem;
}
.container--xlarge {
  max-width: 70rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  margin: 0 auto;
}
.article--center {
  text-align: center;
}
.article--left {
  text-align: left;
}
.article__title {
  font-weight: 700;
  color: hsl(210deg, 10%, 33%);
}
.article__title--small {
  font-size: 1.5rem;
}
.article__title--medium {
  font-size: 2.2rem;
}
.article__title--large {
  font-size: 3rem;
}
.article__text {
  font-weight: 400;
  color: hsl(201deg, 11%, 66%);
}
.article__text--small {
  font-size: 1rem;
}
.article__text--medium {
  font-size: 1.2rem;
}
.article__text--large {
  font-size: 1.3rem;
}

.picture {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.picture--half {
  max-width: 50%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.picture__svg--half {
  height: 100%;
}

.icon {
  display: grid;
  place-content: center;
}
.icon--small {
  width: 1.5rem;
  height: 1.5rem;
}
.icon--medium {
  width: 3rem;
}
.icon__svg {
  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.button {
  flex-grow: 1;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 1ch 3ch;
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.1254901961);
  cursor: pointer;
}
.button:hover {
  opacity: 0.5;
}
.button--cyan {
  background-color: hsl(171deg, 66%, 44%);
  box-shadow: 0 0.25rem 1rem 0 rgba(38, 186, 164, 0.5);
}
.button--blue {
  background-color: hsl(233deg, 100%, 69%);
  box-shadow: 0 0.25rem 1rem 0 rgba(97, 115, 255, 0.5);
}

.footer {
  background-color: rgba(0, 0, 0, 0.062745098);
}
.footer__wrapper {
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem 1rem;
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: [first] minmax(-webkit-min-content, 15ch) [second] repeat(3, minmax(-webkit-min-content, 15ch)) [second-to-last] auto [last];
  grid-template-columns: [first] minmax(min-content, 15ch) [second] repeat(3, minmax(min-content, 15ch)) [second-to-last] auto [last];
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}
.footer__logo {
  grid-row: 1/3;
  grid-column: first/second;
}
.footer__link {
  font-size: 1.2rem;
  color: hsl(201deg, 11%, 66%);
  cursor: pointer;
}
.footer__link:hover {
  color: hsl(171deg, 66%, 44%);
}
.footer__social-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  grid-row: 1/3;
  grid-column: second-to-last/last;
  align-items: center;
  justify-content: flex-end;
}
.footer__icon {
  position: relative;
  cursor: pointer;
  background-color: white;
  mix-blend-mode: overlay;
}
.footer__icon:hover::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: hsl(171deg, 66%, 44%);
  mix-blend-mode: lighten;
}
.footer__attribution {
  text-align: center;
  font-size: 1rem;
  color: hsl(201deg, 11%, 66%);
}
.footer__attribution a {
  color: hsl(171deg, 66%, 44%);
}/*# sourceMappingURL=style.css.map */