@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

//###primary
$c-p-strong-cyan: hsl(171, 66%, 44%);
$c-p-light-blue: hsl(233, 100%, 69%);

//###neutral
$c-s-dark-grayish-blue: hsl(210, 10%, 33%);
$c-s-grayish-blue: hsl(201, 11%, 66%);

$fw-4: 400;
$fw-7: 700;

$gap-m: 1rem;

*,
*::before,
*::after {
	font-family: "Bai Jamjuree", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: 1fr auto;

	background: top / contain no-repeat;
	background-image: url(./images/bg-header-desktop.png);

	@media screen and (max-width: 481px) {
		background-image: url(./images//bg-header-mobile.png);
	}
}

.main {
	display: flex;
	flex-direction: column;
	padding: 8rem 1rem;
	gap: 8rem;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 0;
	width: 100%;

	&--row {
		gap: 1rem;
		justify-content: space-between;

		@media screen and (max-width: 481px) {
			flex-direction: column;
			gap: 3rem;
		}
	}

	&--column {
		flex-direction: column;
		gap: 3rem;
		height: 100%;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--small {
		max-width: 35ch;
	}

	&--medium {
		max-width: 50rem;
	}

	&--large {
		max-width: 60rem;
	}

	&--xlarge {
		max-width: 70rem;
	}
}

.article {
	display: flex;
	flex-direction: column;
	gap: 1ch;
	margin: 0 auto;

	&--center {
		text-align: center;
	}

	&--left {
		text-align: left;

		@media screen and (max-width: 481px) {
			text-align: center;
		}
	}

	&__title {
		font-weight: $fw-7;
		color: $c-s-dark-grayish-blue;

		&--small {
			font-size: 1.5rem;
		}

		&--medium {
			font-size: 2.2rem;

			@media screen and (max-width: 481px) {
				font-size: 1.8rem;
			}
		}

		&--large {
			font-size: 3rem;

			@media screen and (max-width: 481px) {
				font-size: 2rem;
			}
		}
	}

	&__text {
		font-weight: $fw-4;
		color: $c-s-grayish-blue;

		&--small {
			font-size: 1rem;
			line-height: 3ch;
		}

		&--medium {
			font-size: 1.2rem;
			line-height: 3ch;
		}

		&--large {
			font-size: 1.3rem;
			line-height: 2ch;
		}
	}
}

.picture {
	width: 100%;
	object-fit: cover;

	&--half {
		max-width: 50%;
		display: flex;
		justify-content: flex-end;

		@media screen and (max-width: 481px) {
			max-width: unset;
		}
	}

	&__svg {
		&--half {
			height: 100%;
			@media screen and (max-width: 481px) {
				height: auto;
				width: 100%;
			}
		}
	}
}

.icon {
	display: grid;
	place-content: center;

	&--small {
		width: 1.5rem;
		height: 1.5rem;
	}

	&--medium {
		width: 3rem;
	}

	&__svg {
		width: 100%;
		height: 100%;
	}
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.button {
	flex-grow: 1;
	font-size: 1.2rem;
	color: white;
	border: none;
	border-radius: 50px;
	padding: 1ch 3ch;
	border-bottom: 0.25rem solid #00000020;
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}

	&--cyan {
		background-color: $c-p-strong-cyan;
		box-shadow: 0 0.25rem 1rem 0 color.adjust($c-p-strong-cyan, $alpha: -0.5);
	}

	&--blue {
		background-color: $c-p-light-blue;
		box-shadow: 0 0.25rem 1rem 0 color.adjust($c-p-light-blue, $alpha: -0.5);
	}
}

.footer {
	background-color: #00000010;

	&__wrapper {
		max-width: 70rem;
		margin: 0 auto;
		padding: 3rem 1rem;
		display: grid;
		align-items: center;
		gap: 1rem;
		grid-template-columns:
			[first] minmax(min-content, 15ch) [second] repeat(
				3,
				minmax(min-content, 15ch)
			)
			[second-to-last] auto [last];
		grid-template-rows: 1fr 1fr;
		grid-auto-flow: column;

		@media screen and (max-width: 481px) {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
	}

	&__logo {
		grid-row: 1/3;
		grid-column: first / second;
	}

	&__link {
		font-size: 1.2rem;
		color: $c-s-grayish-blue;
		cursor: pointer;

		&:hover {
			color: $c-p-strong-cyan;
		}
	}

	&__social-container {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		grid-row: 1/3;
		grid-column: second-to-last / last;
		align-items: center;
		justify-content: flex-end;
	}

	&__icon {
		position: relative;
		cursor: pointer;
		background-color: white;
		mix-blend-mode: overlay;

		&:hover::after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 1.5rem;
			height: 1.5rem;
			background-color: $c-p-strong-cyan;
			mix-blend-mode: lighten;
		}
	}

	&__attribution {
		text-align: center;
		font-size: 0.8rem;
		color: $c-s-grayish-blue;

		a {
			color: $c-p-strong-cyan;
		}
	}
}
